.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.cups/
.dropbox/
.gitconfig

.lesshst
.npm/
.vscode/
.zsh_history
.zsh_sessions/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
V&T Group Dropbox/
iCloud Drive (archivo)/
