*{
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    padding: 20px;
    background-color: #ffff00;
}

header h1{
    color: #4f4f4f;
}

ul{
    display: flex;
}

li{
    display: flex;
    margin-left: 1rem;
    align-items: center;
    
}

li button{
    display: flex;
    text-decoration: none;
    align-items: center;
    background-color: #4f4f4f;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;

}